<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qaf.schedule.dao.ScheduleDao">

	<sql id="schedule-cols">
		task_name,
		group_name,
		cron_expression,
		replace_exist,
		is_work,
		create_time
	</sql>
	
	<resultMap type="com.qaf.schedule.beans.SchedulerTask" id="schedule-task-result">
		<result column="id" property="id" />
		<result column="task_name" property="taskName" />
		<result column="group_name" property="groupName" />
		<result column="cron_expression" property="cronExpression" />
		<result column="replace_exist" property="replace" />
		<result column="is_work" property="isWork" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
		
	<insert id="saveScheduleTask" parameterType="com.qaf.schedule.beans.SchedulerTask">
		INSERT INTO schedule_tasks (
			<include refid="schedule-cols" />
		) VALUES (
			#{taskName},
			#{groupName},
			#{cronExpression},
			#{replace},
			#{isWork}
			#{createTime}
		)
	</insert>
	
	<select id="listAllTask" resultMap="schedule-task-result">
		SELECT * FROM schedule_tasks
	</select>
	
	<select id="listTaskByCondition" parameterType="com.qaf.schedule.beans.SchedulerTask" resultMap="schedule-task-result">
		SELECT 
			* 
		FROM
			schedule_tasks
		WHERE
			is_work = #{isWork}
		<if test="taskName != null">
			AND task_name = #{taskName}
		</if>
		<if test="groupName != null">
			AND group_name = #{groupName}
		</if>
		<if test="replace != null">
			AND replace_exist = #{replace}
		</if>
	</select>
	
	<update id="updateScheduleTask" parameterType="com.qaf.schedule.beans.SchedulerTask">
		UPDATE
			schedule_tasks
		SET
			group_name = #{groupName},
			cron_expression = #{cronExpression},
			replace_exist = #{replace},
			is_work = #{isWork}
		WHERE
			task_name = #{taskName}
	</update>
	
	
</mapper>