/.project
/.settings/*
/.idea/*
/.classpath
/bin/*
/logs
/logs/*
/target/*
/*.iml
/target/
/dubbo/*

/*/.project
/*/.settings/*
/*/.idea/*
/*/.classpath
/*/bin/*
/*/logs
/*/logs/*
/*/target/*
/*/*.iml
/*/target/
/*/dubbo/*

./*/target/*
./*/dubbo/*

